Development
Documents
Downloads

anaconda3

.cache
.cargo
.conda
.ipython
.jupyter
.landscape
.local
.npm
.vscode-server

.condarc
.gitconfig
.motd_shown
.profile
.python_history
.sudo_as_admin_successful
.viminfo
.wget-hsts
.zcompdump
